@use "../../../assets/sass/variables" as *;

img {
    // transform: scale();
    // height: 100%;
    width: 50%;
}

.tiles {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 200px;
}